.bean__form{
	display: flex;
	flex-direction: column;
}
.bean__form input{
	display: flex;
	flex-direction: column;
}
.bean__form textarea{
	display: flex;
	flex-direction: column;
}
.bean__form select{
	display: flex;
	flex-direction: column;
}
.beanVarieties {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;


}